@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:wght@200;600&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background-image: url(/images/checkout.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
    height: 100vh;
}

#navbar{
    display: flex;
    justify-content: space-between;
}
#user-detail{
    width: 40%;
    margin: auto;
    margin-top: 7%;
}
#user_name{
    color: black;
    padding: .5rem;
    width: 55%;
}
#number_of_seats{
    color: black;
    width: 20%;
    padding: .5rem;
}
#confirm{
    background-color: black;
    padding: .5rem;
}
#movie{
    margin: auto;
    width: 35%;
    height: 470px;
    margin-top: 15px;
}
img{
    align-items: center;
    margin: auto;
    width: 69%;
    height: 400px;
}
box{
    border: 1px solid black;
}
p{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}